* {
    margin: 0;
    padding: 0;
}

body {
    height: 400px;
    width: 800px;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: row;

}




.button {
    width: 200px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
    margin-left: 10px;
}

.button:hover {
    cursor: pointer;
}



#buttons {
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 10px;
    gap: 5px;
    flex-direction: row;
    z-index: 3;
}

/* #languageInput {
    width: 200px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
    position: absolute;
    resize: none;
    text-align: center;
    top: 75%;
    left: 61%;
} */

.textareas {
    resize: none;
    border: 1px solid black;
    border-radius: 5px;
    height: 60%;
    width: 42%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
}

textarea::placeholder {
    text-align: center;
    color: gray;
    font-size: 14px;
}

#input_area {
    position: relative;
}